/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

/*$primary-color: #f4787f;*/
$primary-color: #0084FF;
$main-font: 'Poppins', sans-serif;
$body-color: #000;
$btn-transition: 0.2s;

body{
	background-color: #F6F6F6;
}

h1, h2, h3, h4, h5, p, a, ol li,ul li,li{
	font-family: $main-font;
	font-weight: 300;
	color: $body-color;
	text-align: center;
}

a:hover{
	color:$body-color;
	cursor: pointer;
}

p{
	font-size: 18px;
}

h1{
	font-size: 41px;
	color: $primary-color;
}



.link,{
	text-align: center;
	font-size: 35px;
	font-weight: bold;
	text-decoration: underline;
}



.btn{
	height: 45px;
	background-color: $primary-color;
	color: #fff;
	font-size: 17px;
	font-weight: 400;
}

.btn:hover{
	color: #fff;
}

.field{
	height: 45px;
	background-color: rgba(255,255,255,0);
	border-radius: 4px;
	border-color: #000;
	border-width: 1px;
	font-size: 17px;
	padding-left: 10px;
}


.intro{
	.left{
		position: relative;
		height: 100vh;
		.left-inner{
			position: absolute;
			width: 100%;
			top: 50%;
			  -webkit-transform: translateY(-50%);
			  -moz-transform: translateY(-50%);
			  -o-transform: translateY(-50%);
			  transform: translateY(-50%);
			  .phone{
			  	display: block;
				margin: auto;
				height: 90vh;
			}
		}
	}

	.right{
		position: relative;
		height: 100vh;
		.right-inner{
			position: absolute;
			top: 50%;
			  -webkit-transform: translateY(-50%);
			  -moz-transform: translateY(-50%);
			  -o-transform: translateY(-50%);
			  transform: translateY(-50%);
			.logo{
				width: 110px;
				height: 110px;
				border-radius: 8px;
				background-color: #E8E8E8;
				margin: 0 auto 20px;
			}
			.body-light{
				opacity: .6;
				margin-top: 74px;
			}
			form{
				input{
					margin-top: 10px;
				}
			}
		}
	}
}




