/* Welcome to Compass.
* In this file you should write your main styles. (or centralize your imports)
* Import this file using the following HTML or equivalent:
* <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/*$primary-color: #f4787f;*/
/* line 12, ../sass/screen.scss */
body {
  background-color: #F6F6F6;
}

/* line 16, ../sass/screen.scss */
h1, h2, h3, h4, h5, p, a, ol li, ul li, li {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  color: #000;
  text-align: center;
}

/* line 23, ../sass/screen.scss */
a:hover {
  color: #000;
  cursor: pointer;
}

/* line 28, ../sass/screen.scss */
p {
  font-size: 18px;
}

/* line 32, ../sass/screen.scss */
h1 {
  font-size: 41px;
  color: #0084FF;
}

/* line 39, ../sass/screen.scss */
.link {
  text-align: center;
  font-size: 35px;
  font-weight: bold;
  text-decoration: underline;
}

/* line 48, ../sass/screen.scss */
.btn {
  height: 45px;
  background-color: #0084FF;
  color: #fff;
  font-size: 17px;
  font-weight: 400;
}

/* line 56, ../sass/screen.scss */
.btn:hover {
  color: #fff;
}

/* line 60, ../sass/screen.scss */
.field {
  height: 45px;
  background-color: rgba(255, 255, 255, 0);
  border-radius: 4px;
  border-color: #000;
  border-width: 1px;
  font-size: 17px;
  padding-left: 10px;
}

/* line 72, ../sass/screen.scss */
.intro .left {
  position: relative;
  height: 90vh;
}
/* line 75, ../sass/screen.scss */
.intro .left .left-inner {
  position: absolute;
  width: 100%;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 83, ../sass/screen.scss */
.intro .left .left-inner .phone {
  display: block;
  margin: auto;
  height: 80vh;
}
/* line 91, ../sass/screen.scss */
.intro .right {
  position: relative;
  height: 90vh;
}
/* line 94, ../sass/screen.scss */
.intro .right .right-inner {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
}
/* line 101, ../sass/screen.scss */
.intro .right .right-inner .logo {
  width: 110px;
  height: 110px;
  border-radius: 8px;
  background-color: #E8E8E8;
  margin: 0 auto 20px;
}
/* line 108, ../sass/screen.scss */
.intro .right .right-inner .body-light {
  opacity: .6;
  margin-top: 74px;
}
/* line 113, ../sass/screen.scss */
.intro .right .right-inner form input {
  margin-top: 10px;
}

.intro .center {
  display: table;
  margin: auto;
}

.languages {
  margin: 10px 0;
}

@media (min-width: 768px) {
  .field {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }
}
@media (min-width: 768px) {
  #submit_button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}

/*animations*/
#submit_button {
  background: linear-gradient(270deg, #00c6ff, #0072ff);
  background-size: 200% 200%;
  animation-name: submit_button;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  animation-fill-mode: forwards;
}

@keyframes submit_button {
  0%, 100% {
    background-position: 0% 50%;
  }
}
@keyframes submit_button {
  50% {
    background-position: 100% 50%;
  }
}
